 <!-- Wrapper de Conteúdo. Contém conteúdo da página -->
  <div class="content-wrapper">
    <!-- Cabeçalho do conteúdo (cabeçalho da página) -->
    <section class="content-header">
      <h1>
        Page Header
        <small>Optional description</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
        <li class="active">Here</li>
      </ol>
    </section>

    <!-- Conteúdo principal -->
    <section class="content">

      <!-- O conteúdo da sua página aqui -->

    </section>
    <!-- /.conteúdo -->
  </div>
  <!-- /.conteúdo-wrapper -->